html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        font-family: 'Share Tech Mono', monospace;
}

header {
    font-size: 4em;
    margin-bottom: 0.3em;
}

.splash {
    background-color: #eee;
    height: 300px;
    border-radius: 4px;
    background-image: url('/images/923484_752790561407140_1551262826_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
}
