/* https://codepen.io/nickcolley/pen/uoCIy */

iframe { display: none; }

.player {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 500px;  
  background-color: #d0d0d0;
  background-size: cover;
  background-position: center;
  /*transition: background-image 1s linear, opacity 1s, bottom 1s;*/
  transition: all 1s;

  mix-blend-mode: overlay;
  filter: blur(9px);

}

.waveform {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-size: 100% 100%;*/
  background-position: 0 500px;
  background-size: 100% 200%;
  transition: background-image 1s linear;
}

.position {
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 0%;
  
  background-color: #ffbc00;
  transition: width .1s linear;
}

.info {
  user-select: none;
  z-index: 5;
  width: 100%;
  font-size: 0.7em;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0.8em;
  opacity: 0.5;
}